.formLogin{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
    height:80vh;
    justify-content: center;
}
.formLogin form{
    border-radius: 8px;
    box-shadow: 1px 2px 10px #00000028;
    padding:1rem;
}
.formLogin button {
    width:100%;
}
.formLogin img{
    width:10rem;
}